<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>devjacques</title>
        <link rel="icon" type="image/x-icon" href="img/logo1.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                
                <a class="navbar-brand" href="#page-top"><img src="assets/logo1.png" alt="" sizes="5px" srcset="" style="width: 30px; height: 30px;"> Devjacques</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#project">project</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <div class="header-bg">
        <header class="bg-gradient text-white">
            
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Jack universe</h1>
                <p class="lead">Hey friends my name is Jack , I'm cs student and a tech addict</p>
                <a class="btn btn-lg btn-light" href="#about">Read more!</a>
            </div>
        </header>
      
    </div>

<!---------loading page------------>
<div id="preloader">
</div>
<!---------End loading page------------>

        <!-- About section-->
        <section id="about">
            <div class="aboutdiv">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About Me</h2>
                        <p class="lead">Hello, I'm jack mobile app and web dev I love everything computer related</p>
                        <ul>
                            <li>Work with programming languages like Java, javascript</li>
                            <li>Have good experience with web development techno and mobile app dev with java</li>
                            <li>A good hand on experience with linux fundamentals and the different linux distros</li>
                            <li>Basic handstanding of machine learning and artificial intelligence</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        </section>





        <!-- Projects section-->
        <section id="project" class="bg-light">
          <div class="container">


            <div class="row justify-content-end" style="padding-top:10px;">
<button class="btn btn-dark"></button>


        </div>
        <div class="row justify-content-end" style="padding-top:10px;">
  <label class="work-section">Projects</label>



        </div>
        <div class="row justify-content-start" style="padding-top:10px;">

        <div class="col" style="padding-top:10px;"> 
            <h3>CryptoLand app</h3>
            <h10>Is a webapp that's implemented with coinlore api to get coins 
                news</h10>

<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://i.ibb.co/TbhmnL2/cyrpotlanimg.png" />


        </div>
        <div class="col" style="padding-top:10px;">
            <h3>spotiyrec</h3>
            <h10>Is webapp that used spotify api to give uses music
                    recommendation</h10>

<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://i.ibb.co/qjSsJsN/reet-talreja-XZk-S6-A18-U2c-unsplash.jpg"/>


        </div>
        <div class="col" style="padding-top:10px;">
            <h3>Arduino project</h3> app</h3>
            <h10>This project uses temperature sensor to controls a room 
                    temperature</h10>

<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://i.ibb.co/wMYPFF4/vishnu-mohanan-vtg8t-Ado-WVQ-unsplash.jpg" />


        </div>
        </div>
        <div class="row justify-content-start" style="padding-top:90px;">
            
        <div class="col" style="padding-top:10px;">
            <h3>weather app</h3>
            <h10>This app is implemented with openweather api to get
                    weather</h10>

<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://i.ibb.co/Qf9LZxV/weatherimg1.png" />


        </div>
        <div class="col" style="padding-top:10px;">
            <h3>Soiattude</h3>
            <h10>Soiattude is a blog implemented with that integrate a headless cms</h10>

<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://i.ibb.co/3dGHTJ8/soiattitudeimg.png" />


        </div>
        <div class="col" style="padding-top:10px;">
            <h3>Jnote</h3>
            <h10>Jnote is a todo list build in java with sqllite</h10>
<img alt="Image html" width="90%" height="90%" style="max-height:500px;max-width:500px;" src="https://i.ibb.co/g3GgJVZ/jnoteimg.png" alt="jnoteimg"/>


        </div>
        </div>


</div>

        </section>
           
            

            



        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <p> <h3>Your suggestions</h3></p>
                        <form action="/Ureview" method="post">
                           <p> <input type="name" name="name" placeholder="Name" /></p> 
                           <p><textarea name="suggestions" placeholder="Tell me what you think and what i need to change."></textarea></p> 
                            <input type="submit" value="submit" />
                        </form>
                        <br>
                        <div class="text-center">

                                <!---the contact me session-->
                                <div class="Mcontainer">
                                    
                                    <div class="project-table">   
                                      <label for="fname">Up coming projects</label> 
                                      <br>
                                      <br>
                                      <br>
                                      <table class="center-table">
                                      <tr>
                                        <th>Web Developer</th>
                                        <th>Electronics</th>
                                        <th>Android</th>
                                      </tr>
                                      <tr>
                                        <td>Soiattude convertion</td>
                                        <td>Project v2</td>
                                        <td>Geolocaisation</td>
                                      </tr>
                                      <tr>
                                        <td>Portofolio v2</td>
                                        <td>Room control</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                    </table>
                                    <br>
                                    <br>
                                     
                                  
                                </div> 
                                  </div>
                                <!-- end of contact me -->
                                <br />
                                
                        <p><a href="/contact"><button type="submit">Contact Me</button></a></p>
                    </div>
                    </div>
                </div>
            </div>
        </section>

      















        <!-------------------------------------------------------My playlist music------------------------------------------>
        <section class="playlist">
         <div class="musicplaylist">
            <div class="playlist-label">
                <h3>My playlist now</h3>
            </div>
        <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" 
        style="width:100%;max-width:660px;overflow:hidden;background:transparent;" 
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" 
        src="https://embed.music.apple.com/us/playlist/mycollections/pl.u-xlyNE3PtkAE2kx7"></iframe>
        </div>
        </section>
        <!-------------------------------------------------------My playlist end section------------------------------------------>




       






        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark"> -->
            <!-- <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div> -->
            
        <!-- </footer> -->

        <footer >
         
            <div class="card text-center bg-dark">
                
                <div class="card-header">
                       <a href="#page-top"> <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 50px; height: 50px;"><style>
                        .line-arrow-up1{animation: line-arrow-up1-fly 3s infinite ease-in-out;}
                        @keyframes line-arrow-up1-fly{
                            0% { transform: translate3d(0, 200px, 0);}
                            30% {transform: translate3d(0, -4px, 0);}
                            40% {transform: translate3d(0, 0, 0);}
                            50% {transform: translate3d(0, -4px, 0);}
                            70% {transform: translate3d(0, 0, 0);}
                            100% {transform: translate3d(0, -240px, 0);}
                        }
                        @media (prefers-reduced-motion: reduce) {
                            .line-arrow-up1 {
                                animation: none;
                            }
                        }
                       </style><path class="line-arrow-up1 stroke1" d="M48.9919 95L48.9919 5M48.9919 5L85 40.8475M48.9919 5L13.75 40.8475" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linecap="round" style="animation-duration: 3s; "></path></svg>
                       Back</a>
                    </div>
                <div class="card-body">
                  <h5 class="text-footer">More on</h5>
                  <h6 class="text-footer">Follow me on my social media for more information thanks.</h6> <br>
                  <a target="_blank" rel="noopener noreferrer" href="https://github.com/jacques28" class="btn btn-primary">Github</a>
                  <a target="_blank" rel="noopener noreferrer" href="instagram.com/devjacques28" class="btn btn-primary" ml-auto>Facebook</a>
                  <a target="_blank" rel="noopener noreferrer" href="facebook.com/devjacques28" class="btn btn-primary" mr-auto>Instagram</a>
                </div>
                <div class="card-footer text-muted">
                &copy;2021 made by jacques
                </div>
              </div>
            </div>
        </footer>



        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        
        <script>
            var loader = document.getElementById("preloader");
            window.addEventListener("load", function(){
                loader.style.display="none";
            })
        </script>
    </body>
</html>
