<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>devjacques</title>
        <link rel="icon" type="image/x-icon" href="img/logo1.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                
                <a class="navbar-brand" href="#page-top"><img src="assets/logo1.png" alt="" sizes="5px" srcset="" style="width: 30px; height: 30px;"> Devjacques</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#project">project</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <div class="header-bg">
        <header class="bg-gradient text-white">
            
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Jack universe</h1>
                <p class="lead">Hey friends my name is Jack , I'm cs student and a tech addict</p>
                <a class="btn btn-lg btn-light" href="#about">Read more!</a>
            </div>
        </header>
      
    </div>



        <!-- About section-->
        <section id="about">
            <div class="aboutdiv">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About Me</h2>
                        <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                        <ul>
                            <li>Clickable nav links that smooth scroll to page sections</li>
                            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        </section>





        <!-- Projects section-->
        <section id="project" class="bg-light">
           
            

             <!-- <section id="service" class="services-mf route">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      
                      <div class="title-box text-center">
                        <h3 class="title-a">
                          Services
                        </h3>
                        <p class="subtitle-a">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        </p>
                        <div class="line-mf"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="service-box">
                        <div class="service-ico">
                          <span class="ico-circle"><i class="ion-monitor"></i></span>
                        </div>
                        <div class="service-content">
                          <h2 class="s-title">Web Design</h2>
                          <p class="s-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="service-box">
                        <div class="service-ico">
                          <span class="ico-circle"><i class="ion-code-working"></i></span>
                        </div>
                        <div class="service-content">
                          <h2 class="s-title">Web Development</h2>
                          <p class="s-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="service-box">
                        <div class="service-ico">
                          <span class="ico-circle"><i class="ion-camera"></i></span>
                        </div>
                        <div class="service-content">
                          <h2 class="s-title">Photography</h2>
                          <p class="s-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="service-box">
                        <div class="service-ico">
                          <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                        </div>
                        <div class="service-content">
                          <h2 class="s-title">Responsive Design</h2>
                          <p class="s-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="service-box">
                        <div class="service-ico">
                          <span class="ico-circle"><i class="ion-paintbrush"></i></span>
                        </div>
                        <div class="service-content">
                          <h2 class="s-title">Graphic Design</h2>
                          <p class="s-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="service-box">
                        <div class="service-ico">
                          <span class="ico-circle"><i class="ion-stats-bars"></i></span>
                        </div>
                        <div class="service-content">
                          <h2 class="s-title">Marketing Services</h2>
                          <p class="s-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                            provident vitae! Magni
                            tempora perferendis eum non provident.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section> -->
              
              <div class="container">
                <div class="row">
                <!-- <div class="col">
                    lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                    lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                </div> -->
                
                <!-- <div class="col-6">
                  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis
                </div> -->
                
                <div class="col-6">
                  <!-- lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis -->
                </div>
                
                
                </div>

                <div class="row">
                    <div class="col">
                      <!-- lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                      lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis -->
                    </div>
                    
                    <div class="col-6">
                      lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                    lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis
                    </div>
                    
                    
                    
                    
                    </div>


                    <div class="row">
                      <div class="col">
                        lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                        lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis
                      </div>
                      
                      <div class="col-6">
                        lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis   lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis 
                        lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis  lorem ipsum dolor sit amet, consectetur adipis
                      </div>
                      
                      
                      
                      
                      </div>
                
                
                </div>


    </section>



        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <p> <h3>Your suggestions</h3></p>
                        <form action="/Ureview" method="post">
                           <p> <input type="name" name="name" placeholder="Name" /></p> 
                           <p><textarea name="suggestions" placeholder="Tell me what you think and what i need to change."></textarea></p> 
                            <input type="submit" value="submit" />
                        </form>
                        <br>
                        <div class="text-center">

                                <!---the contact me session-->
                                <div class="Mcontainer">
                                    <form action="action_page.php">
                                  
                                      <label for="fname">First Name</label>
                                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                                  
                                      <label for="lname">Last Name</label>
                                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                  
                                      <!-- <label for="country">Country</label>
                                      <select id="country" name="country">
                                        <option value="australia">Australia</option>
                                        <option value="canada">Canada</option>
                                        <option value="usa">USA</option>
                                      </select> -->
                                  
                                      <label for="subject">Subject</label>
                                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                  
                                      <input type="submit" value="Submit">
                                  
                                    </form>
                                  </div>
                                <!-- end of contact me -->
                                <br />

                        <p><button type="submit">Contact Me</button></p>
                    </div>
                    </div>
                </div>
            </div>
        </section>

      















        <!-------------------------------------------------------My playlist music------------------------------------------>
        <section class="playlist">
         <div class="musicplaylist">
            <div class="playlist-label">
                <h3>My playlist now</h3>
            </div>
        <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="450" 
        style="width:100%;max-width:660px;overflow:hidden;background:transparent;" 
        sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" 
        src="https://embed.music.apple.com/us/playlist/mycollections/pl.u-xlyNE3PtkAE2kx7"></iframe>
        </div>
        </section>
        <!-------------------------------------------------------My playlist end section------------------------------------------>




       






        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark"> -->
            <!-- <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div> -->
            
        <!-- </footer> -->

        <footer >
         
            <div class="card text-center bg-dark">
                
                <div class="card-header">
                       <a href="#page-top"> <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 50px; height: 50px;"><style>
                        .line-arrow-up1{animation: line-arrow-up1-fly 3s infinite ease-in-out;}
                        @keyframes line-arrow-up1-fly{
                            0% { transform: translate3d(0, 200px, 0);}
                            30% {transform: translate3d(0, -4px, 0);}
                            40% {transform: translate3d(0, 0, 0);}
                            50% {transform: translate3d(0, -4px, 0);}
                            70% {transform: translate3d(0, 0, 0);}
                            100% {transform: translate3d(0, -240px, 0);}
                        }
                        @media (prefers-reduced-motion: reduce) {
                            .line-arrow-up1 {
                                animation: none;
                            }
                        }
                       </style><path class="line-arrow-up1 stroke1" d="M48.9919 95L48.9919 5M48.9919 5L85 40.8475M48.9919 5L13.75 40.8475" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linecap="round" style="animation-duration: 3s; "></path></svg>
                       Back</a>
                    </div>
                <div class="card-body">
                  <h5 class="card-title">More on</h5>
                  <p class="card-text">Follow me on the social media for more information thanks.</p>
                  <a href="#" class="btn btn-primary">Github</a>
                  <a href="#" class="btn btn-primary" ml-auto>Facebook</a>
                  <a href="#" class="btn btn-primary" mr-auto>Instagram</a>
                </div>
                <div class="card-footer text-muted">
                &copy;2020 made by jacques
                </div>
              </div>
            </div>
        </footer>



        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
