<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scrolling Nav - Start Bootstrap Template</title>
        <link rel="icon" type="image/x-icon" href="img/logo1.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                
                <a class="navbar-brand" href="#page-top"><img src="assets/logo1.png" alt="" sizes="5px" srcset="" style="width: 30px; height: 30px;"> Devjacques</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">project</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <div class="header-bg">
        <header class="bg-gradient text-white">
            
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Jack universe</h1>
                <p class="lead">Hey friends my name is Jack , I'm cs student and a tech addict</p>
                <a class="btn btn-lg btn-light" href="#about">Read more!</a>
            </div>
        </header>
    </div>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About Me</h2>
                        <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                        <ul>
                            <li>Clickable nav links that smooth scroll to page sections</li>
                            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>My Projects</h2>
                         <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <br class="text-center">
                 <h2 class="section-heading text-uppercase">Current Projects</h2> </br>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/projects/1.png" alt=""
                            /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">CryptoLand</div>
                                <div class="portfolio-caption-subheading text-muted">webApp to follow crypto news</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2"
                                ><div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/projects/2.png" alt=""/></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Jnote</div>
                                <div class="portfolio-caption-subheading text-muted">Todo list on mobile</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3"
                                ><div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/projects/3.png" alt=""
                            /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Soiattude</div>
                                <div class="portfolio-caption-subheading text-muted">Blog on Stoïclifestyle</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4"
                                ><div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/projects/4.jpg" alt=""
                            /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Business</div>
                                <div class="portfolio-caption-subheading text-muted">Branding</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5"
                                ><div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/projects/5.jpg" alt=""
                            /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Expectations</div>
                                <div class="portfolio-caption-subheading text-muted">life expectations</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6"
                                ><div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/projects/6.jpg" alt=""
                            /></a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Window</div>
                                <div class="portfolio-caption-subheading text-muted">view of life</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio End Grid-->
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <p> <h3>Your suggestions</h3></p>
                        <form action="/msg" method="post">
                           <p> <input type="name" name="name" placeholder="Name" /></p> 
                           <p><textarea name="usermsg" placeholder="Tell me what you think and what i need to change."></textarea></p> 
                            <input type="submit" value="submit" />
                        </form>
                        <br>
                        <div class="text-center">

                                <!---the contact me session-->
                                <div class="Mcontainer">
                                    <form action="action_page.php">
                                  
                                      <label for="fname">First Name</label>
                                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                                  
                                      <label for="lname">Last Name</label>
                                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                  
                                      <!-- <label for="country">Country</label>
                                      <select id="country" name="country">
                                        <option value="australia">Australia</option>
                                        <option value="canada">Canada</option>
                                        <option value="usa">USA</option>
                                      </select> -->
                                  
                                      <label for="subject">Subject</label>
                                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                                  
                                      <input type="submit" value="Submit">
                                  
                                    </form>
                                  </div>
                                <!-- end of contact me -->
                                <br />

                        <p><button type="submit">Contact Me</button></p>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Coming soon</h2>
                                    <p class="item-intro text-muted">Epicure is a very special thinker coming up very soon the Illusions and the vision of Epicure for the Stoïclifestyle.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/epicurepicFull.jpg" alt="" />
                                    <p>Coming soon!</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                      
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Coming soon</h2>
                                    <p class="item-intro text-muted">Imagination Stoïclifestyle.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/02-full.jpg" alt="" />
                                    <p>Project Coming soon keep working !</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                        
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Coming soon</h2>
                                    <p class="item-intro text-muted"> Stoïclifestyle.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/03-full.jpg" alt="" />
                                    <p>Project Coming soon keep working !</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                       
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Coming soon</h2>
                                    <p class="item-intro text-muted">Hardwork with Stoïclifestyle.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/04-full.jpg" alt="" />
                                    <p>Project Coming soon keep working !</p>
                                    <ul class="list-inline">
                                        <li>Date: January 2020</li>
                                       
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Coming soon</h2>
                                    <p class="item-intro text-muted">Life Expectations and Stoïclifestyle</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/05-full.jpg" alt="" />
                                    <p>Project Coming soon keep working !</p>
                                    <ul class="list-inline">
                                        <li>Date: 2020</li>
                                        
                                
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="assets/img/close-icon.svg" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Coming soon</h2>
                                    <p class="item-intro text-muted">Urban life and Stoïclifestyle.</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/06-full.jpg" alt="" />
                                    <p>Project Coming soon keep working ! </p>
                                    <ul class="list-inline">
                                        <li>Date: 2020</li>
                                       
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fas fa-times mr-1"></i>Close Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark"> -->
            <!-- <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div> -->
            
        <!-- </footer> -->

        <footer >
         
            <div class="card text-center bg-dark">
                
                <div class="card-header">
                       <a href="#page-top"> <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 50px; height: 50px;"><style>
                        .line-arrow-up1{animation: line-arrow-up1-fly 3s infinite ease-in-out;}
                        @keyframes line-arrow-up1-fly{
                            0% { transform: translate3d(0, 200px, 0);}
                            30% {transform: translate3d(0, -4px, 0);}
                            40% {transform: translate3d(0, 0, 0);}
                            50% {transform: translate3d(0, -4px, 0);}
                            70% {transform: translate3d(0, 0, 0);}
                            100% {transform: translate3d(0, -240px, 0);}
                        }
                        @media (prefers-reduced-motion: reduce) {
                            .line-arrow-up1 {
                                animation: none;
                            }
                        }
                       </style><path class="line-arrow-up1 stroke1" d="M48.9919 95L48.9919 5M48.9919 5L85 40.8475M48.9919 5L13.75 40.8475" stroke="rgba(255,255,255,1)" stroke-width="2px" stroke-linecap="round" style="animation-duration: 3s; "></path></svg>
                       Back</a>
                    </div>
                <div class="card-body">
                  <h5 class="card-title">More on</h5>
                  <p class="card-text">Follow me on the social media for more information thanks.</p>
                  <a href="#" class="btn btn-primary">Github</a>
                  <a href="#" class="btn btn-primary" ml-auto>Facebook</a>
                  <a href="#" class="btn btn-primary" mr-auto>Instagram</a>
                </div>
                <div class="card-footer text-muted">
                &copy;2020 made by jacques
                </div>
              </div>
            </div>
        </footer>



        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
